
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #A3CBBE;
    font-family: 'Indie Flower', cursive;
}

header{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.contenedor{
    width: 90%;
    margin: auto;
}

header .contenedor{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .title-header{
    font-weight: normal;
    font-size: 60px;
}

header nav a{
    color: #545454;
    text-decoration: none;
    margin-right: 30px;
}

header nav a:hover{
    color: #FFF;
}

/* PANEL DE SERIE PRINCIPAL */

.serie-principal{
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0, 0, 0, .50) 100%), url(../imagenes/serie-main-another.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.serie-principal .contenedor{
    margin: 0px auto;
    margin-bottom: 6.25em;
}

.serie-principal .titulo-serie-principal{
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
}

.serie-principal .description{
    font-weight: normal;
    font-style: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
}

.serie-principal .boton:hover{
    background: #fff;
    color: #000;
}

.serie-principal .boton{
    background: rgba(0, 0, 0, .50);
    border: none;
    border-radius: 0.31em;
    padding: 0.93em 1.87em;
    color: #fff;margin-right: 1.25em;
    cursor: pointer;
    transition: 0.3s ease all;
    font-size: 1.12em;
}

.serie-principal .boton i{
    margin-right: 1.25em;
}

/*  Contenedor título y controles */

.contenedor-titulo-controles{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.contenedor-titulo-controles h2{
    color: #fff;
    font-size: 30px;
}

.contenedor-titulo-controles .indicadores button{
    background: #fff;
    height: 3px;
    width: 10px;
    cursor: pointer;
    border: none;
    margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo{
    background: red;
}


/*  Contenedor main y flechas carrusel  */

.series-recomendadas{
    margin-bottom: 70px;
}

.series-recomendadas .contenedor-principal{
    display: flex;
    align-items: center;
    position: relative;
}

.series-recomendadas .contenedor-principal .arrow-left,
.series-recomendadas .contenedor-principal .arrow-right{
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    font-size: 40px;
    height: 50%;
    top: calc(50% -25%);
    line-height: 40px;
    width: 50px;
    color: #fff;
    cursor: pointer;
    z-index: 500;
    transition: 0.2s ease all;
}

.series-recomendadas .contenedor-principal .arrow-left:hover,
.series-recomendadas .contenedor-principal .arrow-right:hover{
    background: rgba(0, 0, 0, 0.9);
}

.series-recomendadas .contenedor-principal .arrow-left{
    left: 0;
}

.series-recomendadas .contenedor-principal .arrow-right{
    right: 0;
}


/*  Carrusel  */

.series-recomendadas .contenedor-carrusel{
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

.series-recomendadas .contenedor-carrusel .carrusel{
    display: flex;
    flex-wrap: nowrap;
}

.series-recomendadas .contenedor-carrusel .carrusel .serie{
    min-width: 20%;
    transition: 0.3s ease all;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.series-recomendadas .contenedor-carrusel .carrusel .serie.hover{
    transform: scale(1.2);
    transform-origin: center;
}

.series-recomendadas .contenedor-carrusel .carrusel .serie img{
    width: 100%;
    vertical-align: top;
}

/* responsive */

@media (max-width: 760px){
    header .title-header{
        margin-bottom: 15px;
        font-size: 30px;
    }

    header .contenedor{
        flex-direction: column;
        text-align: center;
    }

    .serie-principal{
        font-size: 14px;
    }

    .serie-principal .description{
        max-width: 100%;
    }

    .series-recomendadas .contenedor-carrusel{
        overflow: visibles;
    }

    .series-recomendadas .contenedor-carrusel .carrusel{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .series-recomendadas .indicadores,
    .series-recomendadas .arrow-left,
    .series-recomendadas .arrow-right{
        display: none;
    }
}